body {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    background-color: rgb(37, 42, 56);
    color: white;
}

a { text-decoration: none; }

h2 {
    min-width: 100px;
    color: rgb(151, 151, 151);
    font-size:16px;
    font-weight: 600;
}

/*Header da página*/

header {
    background-color: rgb(28, 32, 43);
    padding-left: 14%;
}

#nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

h1 {
    margin: 0px;
    letter-spacing: 2px;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

#nav-item {
    min-width: 130px;
}

#nav-bar a {
    color: rgb(151, 151, 151);
    font-size: 15px;
    padding: 12px;
}

#nav-bar ul :hover {
    color: white;
    transition: 0.5s;
}

section {
    display: flex;
    justify-content: center;
}

#primeira img {
    border-radius: 145px;
    margin: 60px;
    width: 300px
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    transition: 0.5s;
}

@media screen and (max-width: 780px) {
    
    /*esse aqui faz desaparecer tudo*/
    #nav-item {
        display: none;
    }

    /*icone do menu*/
    .mobile-menu-icon{
        display: block;
        padding-right: 30px;
    }
    
    /*botão menu*/
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        list-style: none;
    }

    .mobile-menu ul a {
        display: flex;
        justify-content: center;
        color: rgb(197, 197, 197);
        padding: 10px;
        border-radius: 8px;
        width: 250px;
    }

    .open {
        display: flex;
        justify-content: center;
        padding-right:40px;
    }

}

.mobile-menu ul a:hover {
    border-width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 62, 78)
}
/*Corpo da página*/

#primeira {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#primeira div {
    margin-inline: 100px;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
}

#primeira a {
    background-color: rgba(104, 104, 104, 0.5);
    box-shadow: 0 0 3px white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

#primeira a:hover {
    box-shadow: 0 0 8px white;
    transition: 0.5s;
}

/*Projetos */
/*--------------------------------*/

#primeira-projetos img {
    display: flex;
    border-radius: 2px;
    width: 280px;
    margin: 10px;
}

#primeira-projetos a:hover img{
    display: flex;
    width: 300px;
    margin: 10px;
    transition: 0.5s;
}

#primeira-projetos a {
    display: flex;
    width: 600px;
    margin: 10px;
    
    cursor: pointer;
    border-radius: 2px;
}

#primeira-projetos p {
    display: flex;
    align-items: center;
}

#primeira-projetos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    padding-top: 50px;
}

#primeira-projetos div {
    display: flex;
    margin: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 2px red;
    font-size: 17px;
    color: rgb(197, 197, 197);
    
}

@media screen and (max-width: 780px) {
    #primeira-projetos a {
        display: block;
        width: 322px;
        margin: 10px;
    }
}



#segunda {
    padding-block: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#resumo {
    display: flex;
    box-shadow: 0 0 2px red;
    font-size: 17px;
    color: rgb(190, 188, 188);
    border-radius: 10px;
    padding-inline: 30px;
    margin: 10px;
    width: 400px;
    min-width: 400px;
}

div:hover p{
    color: white;
    transition: 0.2s;
}

footer {
    display: flex;
    width: 100%;
    min-height: 280px;
    background-color: rgb(28, 32, 43);
    flex-direction: column;
    align-items: center;
}

footer h2 {
    margin-left: 40px;
    height: 70px;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer a {
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    margin: 20px 40px;
    padding: 10px;
    background-color: rgb(16, 18, 20);
    color: white;
}

#whats-link:hover {
    background-image: linear-gradient(90deg,rgb(0, 88, 0),rgb(81, 158, 78));
    text-shadow: 0 0 3px white;
    cursor:pointer;
    
}

#github-link:hover {
    background-color: rgb(0, 0, 0);
    text-shadow: 0 0 3px white;
    transition: 0.5s;
    cursor:pointer;
}

#empregos-link:hover {
    background-image: linear-gradient(90deg,rgb(0, 26, 173),rgb(196, 104, 0));
    text-shadow: 0 0 3px white;
    cursor:pointer;
}

#linkedin-link:hover {
    background-color: rgb(38, 38, 104);
    text-shadow: 0 0 3px white;
    transition: 0.5s;
    cursor:pointer;
}

#email-link:hover {
    color: rgb(126, 126, 126);
    background-color: rgb(255, 255, 255);
    transition: 0.6s;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    cursor:pointer;
}

